<form class="p-5 row mx-0" action="/restaurants" method="POST">
  <h4 class="offset-sm-3 col-sm-10 pb-4">Add new restaurant</h4>
    {{#if alert}}
    <div class="alert alert-danger row mx-5 justify-content-center w-100" role="alert">
      請確認是否仍有參數未填寫~
    </div>
    {{/if}}
  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Name<span style="color: red;">*</span></label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="餐廳名稱... (必填)" name="name"
       value="{{restaurant.name}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Name(En)</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="餐廳英文名稱..." name="name_en"
       value="{{restaurant.name_en}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Category<span style="color: red;">*</span></label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="餐廳類別... (必填)" name="category"
      value="{{restaurant.category}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Image</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="餐廳圖片網址..." name="image"
       value="{{restaurant.image}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Location</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="餐廳位址..." name="location"
       value="{{restaurant.location}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Phone</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="餐廳電話..." name="phone"
      value="{{restaurant.phone}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Google_map</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="Google定位..." name="google_map"
      value="{{restaurant.google_map}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Rating</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="評價..." name="rating"
      value="{{restaurant.rating}}">
    </div>
  </div>

  <div class="form-group row col-sm-11">
    <label for="colFormLabel" class="offset-sm-4 col-sm-1 col-form-label">Description<span style="color: red;">*</span></label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="colFormLabel" placeholder="相關描敘... (必填)" name="description"  value="{{restaurant.description}}">
    </div>

  </div>
  <div class="row mx-5 justify-content-end w-75">
    <a href="/"><button type="button" class="btn btn-primary mb-2 mr-3">Back</button></a>
    <button type="submit" class="btn btn-primary mb-2 ">Submit</button>
  </div>

</form>